body {
	/* 1 Positioning */ 

	/* 2 Block model */ 
	padding: 0;
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;

	/* 4 Visual */ 
	overflow-x: hidden;

	/* 5 Animation*/ 

	/* 6 Misc */
}
.wrapper {
	width: 100%;
	max-width: 300px;
}
.container {
	/* 2 Block model */
	width: 100%;
	max-width: 1200px;	
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.label-hide {
	/* 1 Positioning */
  position: absolute;

	/* 2 Block model */
  width: 0;
  height: 0;
  margin: 0;
  border: 0;
  padding: 0;
	
	/* 3 Typography */
  white-space: nowrap;

	/* 6 Misc */
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
