/*
 * Fonts
 *
 */

$font-main: Arial, Helvetica, sans-serif;

/*
 * Color
 *
 */
 
$color-black: #000000;
$color-white: #ffffff;


$color-bg-yelow: #ffde00;

$color-text: $color-black;
$color-link: #0563c1;

/*
 * Animation Speed
 *
 */

$animation-speed: 0.4s;
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */