mixin checkbox(data)
	div.checkbox(class!=attributes.class)
		label(for!=data.name)
			if data.checked
				input(type="checkbox" name=data.name id!=data.name checked)
			else
				input(type="checkbox" name=data.name id!=data.name)
			span.checkbox__text
			!=data.text