.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  @media (min-width: 768px) {
    margin: 0;
  }
}
.icon--24 {
  width: 24px;
  height: 24px;
}
.icon--25 {
  width: 25px;
  height: 25px;
}
