.textarea {
  /* 1 Positioning */
  position: relative;

  /* 2 Block model */
	margin: 0;
  padding: 0;

  /* 4 Visual */
  border: 0;
  background-color: #ffffff;
}
.textarea textarea {
  /* 1 Positioning */
  position: relative;
  z-index: 10;
  
  /* 2 Block model */
  display: block;
  width: 100%;
  height: 39px;
  padding: 10px 0 5px 0;
  box-sizing: border-box;
  overflow: hidden;

  /* 3 Typography */
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;

  /* 4 Visual */
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 0;
  background: none;
  appearance: none;

  /* 5 Animation*/
  transition: all 0.2s ease-in-out;
  
  /* 6 Misc */
  resize: none;

  &[data-empty="false"],
  &:valid,
  &:focus {
    /* 4 Visual */
    border-bottom: 2px solid black;
  }
  &:focus {
    outline: none;
  }
  &[data-empty="false"] + label,
  &:valid + label,
  &:focus + label {
    /* 3 Typography */
    font-weight: 700;
    font-size: 20px;
    transform: translate3d(0, -19px, 0);
  }
}
.textarea label {
  /* 1 Positioning */
  position: absolute;
  top: 10px;
  left: 0;

  /* 3 Typography */
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: gray;
  transform: translate3d(0, 0, 0);

  /* 5 Animation*/
  transition: all 0.2s ease-in-out;
}