.search__form {
	/* 2 Block model */
	display: flex;
	align-items: center;
}
.search__btn {
	/* 2 Block model */
	display: block;
	padding: 11.5px 10px;
	box-sizing: border-box;

	/* 4 Visual */
	background: none;
	border: 1px solid black;
	border-left: none;
}
.search__btn:hover {
	/* 4 Visual */
	opacity: 0.7;
}
.search__btn:focus {
	/* 4 Visual */
	opacity: 1;
	border: 1px solid gray;
	border-left: none;
	outline: none;
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */