/* 2 Block model */
$btn-padding-x--sm: 15px;
$btn-padding-y--sm: 4px;

/* 3 Typography */
$btn-font-sizes--sm: (
  null: (10px, 1.2),
  sm : 12px,
  md: (14px, 1.4),
  lg : 16px,
  xl : (18px, 1.45)
);

/* 6 Misc */
$btn-icon-sizes--sm: (
  null: (12px, 12px),
  sm : (14px, 14px),
  md: (19px, 19px),
  lg : (22px, 22px),
  xl : (26px, 26px)
);
$btn-icon-margin--sm: (
  null: 8px,
  lg : 10px
);

/*--------------------------------------------*/

.btn--sm {
	@include font-size($btn-font-sizes--sm);	
	padding: $btn-padding-y--sm $btn-padding-x--sm;
}
.btn--sm .icon {
	@include width-height($btn-icon-sizes--sm);
}
.btn--sm .icon:first-child:not(:last-child) {
	@include margin($btn-icon-margin--sm, 'right');
}
.btn--sm .icon:last-child:not(:first-child) {
	@include margin($btn-icon-margin--sm, 'left');
}