doctype html
html(lang="ru")
	include include/head.pug
	+head()

	body
		include ../blocks/mixins.pug
		
		div.container
			div.mr-mb10
				+btn({text: 'Запустить'})

				+btn({text: 'Запустить', icon_l: 'icon--cart'})

				+btn({text: 'Запустить', icon_r: 'icon--cart'}) .btn--block
			div.mr-mb10
				+btn({text: 'Запустить', icon_r: 'icon--cart'})(class="btn--block")
			div.mr-mb10
				+btn({text: 'Запустить', icon_r: 'icon--cart'})(class="btn--flat") 
				+btn({text: 'Запустить'})(class="btn--outline")
				+btn({text: 'Запустить', icon_l: 'icon--cart'})(class="btn--outline")
			div.mr-mb10
				+hamburger({})
			div.mr-mb10
				+breadcrumbs({items:['Главная','Проукция', 'Контакты', 'Адрес']})
			div.mr-mb10
				include ../blocks/pagination/pagination.pug
			div.mr-mb10
				h1.h1 Text 1
				h2.h2 Text 2
				h3.h3 Text 3
				h4.h4 Text 4
				h5.h5 Text 5
				h6.h6 Text 6
			div.mr-mb10
				p.lead Lead
			div.mr-mb10.pd-t10
				a.link(href="#") Link
			div.mr-mb10.pd-b10
				+icon-text({icon: 'icon--cart', text: 'Москва, ул. Боровая, д.&nbsp;7, стр.&nbsp;7'})
				+icon-text({icon: 'icon--cart', text: '6400201@colorel.ru', mailto: true})(class="icon-text--underline")
				+icon-text({icon: 'icon--cart', text: '+7 (495) 640-02-01', url: '+74956400201', tel: true})

		include include/script.pug