doctype html
html(lang="ru")
	include include/head.pug
	+head()

	body
		include ../blocks/mixins.pug
		
		div.container
			div.mr-mb10
				+btn({text: 'Запустить'})

				+btn({text: 'Запустить', icon_l: 'icon--cart'})

				+btn({text: 'Запустить', icon_r: 'icon--cart'}) .btn--block
			div.mr-mb10
				+btn({text: 'Запустить', icon_r: 'icon--cart'})(class="btn--block")
			div.mr-mb10
				+btn({text: 'Запустить', icon_r: 'icon--cart'})(class="btn--flat") 
				+btn({text: 'Запустить'})(class="btn--outline")
				+btn({text: 'Запустить', icon_l: 'icon--cart'})(class="btn--outline")
			div.mr-mb10
				+hamburger({})
			div.mr-mb10
				+breadcrumbs({items:['Главная','Проукция', 'Контакты', 'Адрес']})
			div.mr-mb10
				include ../blocks/pagination/pagination.pug

		include include/script.pug