doctype html
html(lang="ru")
	include include/head.pug
	+head('Style Guide')

	body
		include ../blocks/mixins.pug
		
		div.container
			h1 Buttons

			include ../blocks/btn/btn.pug
			+btn({text: 'Button'})
			+btn({text: 'Button link', type: 'link'})
			+btn({icon_l: 'icon--cart'})
			+btn({text: 'Button', icon_l: 'icon--cart'})
			+btn({text: 'Button', icon_r: 'icon--cart'})

			br

			+btn({text: 'Button sm', icon_l: 'icon--cart'})(class="btn--sm")
			+btn({text: 'Button', icon_l: 'icon--cart'})
			+btn({text: 'Button lg', icon_l: 'icon--cart'})(class="btn--lg")

			br

			+btn({text: 'Button'})(class="btn--red")
			+btn({text: 'Button', icon_l: 'icon--cart'})(class="btn--blue")

			br

			+btn({text: 'Button'})(class="btn--outline")

			br

			+btn({text: 'Button'})(class="btn--flat")

			br

			+btn({text: 'Button'})(class="btn--fix")

			h1 Links

			a.link(href="#") Link

			br

			h1 Input

			include ../blocks/input/input.pug

			div.wrapper
				+input({name: 'login', label_text: 'Login', type: 'text', placeholder: 'Login', icon_l: 'icon--cart', label_hide: 'label-hide'})
			br
			div.wrapper
				+input({name: 'login1', label_text: 'Login', type: 'text', placeholder: 'Loginnnnnnnnnnnnnnnnnnnnn', icon_r: 'icon--cart'})
			br
			div.wrapper
				+input({name: 'login2', label_text: 'Login', type: 'text', placeholder: 'Login'})



		include include/script.pug