doctype html
html(lang="ru")
	include include/head.pug
	+head('Style Guide')

	body
		include ../blocks/mixins.pug
		
		div.container
			h1 Buttons

			include ../blocks/btn/btn.pug
			+btn({text: 'Button'})
			+btn({text: 'Button link', type: 'link'})
			+btn({icon_l: 'icon--cart'})
			+btn({text: 'Button', icon_l: 'icon--cart'})
			+btn({text: 'Button', icon_r: 'icon--cart'})

			br

			+btn({text: 'Button sm', icon_l: 'icon--cart'})(class="btn--sm")
			+btn({text: 'Button', icon_l: 'icon--cart'})
			+btn({text: 'Button lg', icon_l: 'icon--cart'})(class="btn--lg")

			br

			+btn({text: 'Button'})(class="btn--red")
			+btn({text: 'Button', icon_l: 'icon--cart'})(class="btn--blue")

			br

			+btn({text: 'Button'})(class="btn--outline")

			br

			+btn({text: 'Button'})(class="btn--flat")

			br

			+btn({text: 'Button'})(class="btn--fix")

			h1 Links

			a.link(href="#") Link


			h1 Ul
			
			include ../blocks/ul/ul.pug
			+ul([
          'Enter your card number',
          'Enter the &ldquo;valid thru&rdquo; data: Month/Year',
          'Enter three numbers from the backside of&nbsp;your card.',
          'Checking the box you agree and accept the terms and conditions of&nbsp;the banking services',
          'Click &ldquo;Continue&rdquo; button'
          ])

			h1 Text

			p.text Text

			h1 h1-h6

			h1.h1 Hello Word 1

			br
 
			h2.h2 Hello Word 2

			br

			h3.h3 Hello Word 3

			br

			h4.h4 Hello Word 4

			br

			h5.h5 Hello Word 5

			br

			h6.h6 Hello Word 6

			br

			h1 Textarea

			include ../blocks/textarea/textarea.pug
			+textarea({title: 'Ddadad', name: 'aaaa', placeholder: 'Default Value'})

			h1 Logo

			include ../blocks/logo/logo.pug
			+logo({img: 'logo.png'})(href="#")

			h1 Radio

			include ../blocks/radio/radio.pug
			+radio({id: 'b1', name:'adadada', value: '5', text:'Выбрать'})

			+radio({id: 'b2', name:'adadada', value: '4', text: 'убрать', checked: 'checked'})

			h1 Checkbox

			include ../blocks/checkbox/checkbox.pug
			+checkbox({name: 'rub', value: 'rut', text: 200})

			+checkbox({name: 'dolsr', value: 'dut', text: 200, checked: 'checked'})

			br

			h1 Input

			include ../blocks/input/input.pug

			div.wrapper
				+input({name: 'login', label_text: 'Login', type: 'text', placeholder: 'Login', icon_l: 'icon--cart', label_hide: 'label-hide'})
			br
			div.wrapper
				+input({name: 'login1', label_text: 'Login', type: 'text', placeholder: 'Logi', icon_r: 'icon--cart'})
			br
			div.wrapper
				+input({
					name: 'login2', 
					label_text: 'Login', 
					type: 'text', 
					placeholder: 'Login'
				})

			br

			h1 Block-table

			include ../blocks/table/table.pug
			
			+table({
			text: [
				['Твид','Трикотаж','Гипюр', 'Пальтовые ткани'],
				['Твид1','Трикотаж1','Гипюр1', 'Пальтовые ткани1'],
				['Твид2','Трикотаж2','Гипюр2', 'Пальтовые ткани2'],
			]})

			+table({
				text: [
					['Твид','Трикотаж','Гипюр', 'Пальтовые ткани'],
					['Твид1','Трикотаж1','Гипюр1', 'Пальтовые ткани1'],
					['Твид2','Трикотаж2','Гипюр2', 'Пальтовые ткани2'],
				], 
				th: true 
			})

		include include/script.pug