doctype html
html(lang="ru")
	include include/head.pug
	+head('Style Guide')

	body
		include ../blocks/mixins.pug
		
		div.container
			h1 Buttons

			include ../blocks/btn/btn.pug
			+btn({text: 'Button'})
			+btn({text: 'Button link', type: 'link'})
			+btn({icon_l: 'icon--cart'})
			+btn({text: 'Button', icon_l: 'icon--cart'})
			+btn({text: 'Button', icon_r: 'icon--cart'})

			br

			+btn({text: 'Button sm', icon_l: 'icon--cart'})(class="btn--sm")
			+btn({text: 'Button', icon_l: 'icon--cart'})
			+btn({text: 'Button lg', icon_l: 'icon--cart'})(class="btn--lg")

			br

			+btn({text: 'Button'})(class="btn--red")
			+btn({text: 'Button', icon_l: 'icon--cart'})(class="btn--blue")

			br

			+btn({text: 'Button'})(class="btn--outline")

			br

			+btn({text: 'Button'})(class="btn--flat")

			br

			+btn({text: 'Button'})(class="btn--fix")

			h1 Links

			a.link(href="#") Link

			h1 Ul
			
			include ../blocks/ul/ul.pug
			+ul([
          'Enter your card number',
          'Enter the &ldquo;valid thru&rdquo; data: Month/Year',
          'Enter three numbers from the backside of&nbsp;your card.',
          'Checking the box you agree and accept the terms and conditions of&nbsp;the banking services',
          'Click &ldquo;Continue&rdquo; button'
          ])

			h1 Text

			p.text Text

			h1 h1-h6

			h1.h1 Hello Word 1

			br
 
			h2.h2 Hello Word 2

			br

			h3.h3 Hello Word 3

			br

			h4.h4 Hello Word 4

			br

			h5.h5 Hello Word 5

			br

			h6.h6 Hello Word 6

			br

			h1 Textarea

			include ../blocks/textarea/textarea.pug
			+textarea({title: 'Ddadad', name: 'aaaa', placeholder: 'Default Value'})

		include include/script.pug