.pd-r10 {
	/* 2 Block model */
	padding-right: 10px;
}
.pd-l10 {
	/* 2 Block model */
	padding-left: 10px;
}
.pd-t10 {
	/* 2 Block model */
	padding-top: 10px;
}
.pd-b10 {
	/* 2 Block model */
	padding-bottom: 10px;
}