/* 2 Block model */
$btn-padding-x--lg: 25px;
$btn-padding-y--lg: 10px;

/* 3 Typography */
$btn-font-sizes--lg: (
  null: (16px, 1.2),
  sm : 18px,
  md: (20px, 1.4),
  lg : 22px,
  xl : (24px, 1.45)
);

/* 6 Misc */
$btn-icon-sizes--lg: (
  null: (19px, 19px),
  sm : (21px, 21px),
  md: (28px, 28px),
  lg : (30px, 30px),
  xl : (34px, 34px)
);
$btn-icon-margin--lg: (
  null: 10px,
  lg : 14px
);

/*--------------------------------------------*/

.btn--lg {
	@include font-size($btn-font-sizes--lg);	
	padding: $btn-padding-y--lg $btn-padding-x--lg;
}
.btn--lg .icon {
	@include width-height($btn-icon-sizes--lg);
}
.btn--lg .icon:first-child:not(:last-child) {
	@include margin($btn-icon-margin--lg, 'right');
}
.btn--lg .icon:last-child:not(:first-child) {
	@include margin($btn-icon-margin--lg, 'left');
}