.mr-r10 {
	/* 2 Block model */
	margin-right: 10px;
}
.mr-l10 {
	/* 2 Block model */
	margin-left: 10px;
}
.mr-t10 {
	/* 2 Block model */
	margin-top: 10px;
}
.mr-b10 {
	/* 2 Block model */
	margin-bottom: 10px;
}